# Archivos de Python
__pycache__/
streamlit4.py
*.pyo
*.pyd
*.so
*.egg-info/
.env
.venv/
venv/
ENV/
env/

# Archivos de Jupyter
.ipynb_checkpoints

# Archivos de sistema
.DS_Store
Thumbs.db

# Modelos pesados

*.pt

# Archivos de logs
*.log

# Archivos de VSCode / PyCharm
.vscode/
.idea/

# Archivos de Streamlit
.streamlit/

# Datos temporales
*.tmp
*.bak
streamlit4.py
